* {
    box-sizing: border-box;
    margin: 0 auto;
  }

body {
  display: block;
  font-family: 'Karla', sans-serif;
  padding: 20px;
  color: #033649;
  background-color: #E8DDCB;
  font-size: 20px;
}

header, .projects, .more, footer {
  max-width: 1024px;
  width: 100%;
  padding: 25px;
}

h1 {
  font-size: 44px;
  line-height: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
}

h1, h2, h3 {
  font-family: 'Karla', sans-serif;
  padding-top: 10px;
  font-weight: strong;
  padding-bottom: 10px;
}

nav {
  position: fixed;
  color: #DCB85A;
  background-color: #041724;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  font-size: 24px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  padding: 5px;
  font-family: 'Karla', sans-serif;
}

.nav-links li a {
  text-decoration: none;
}

.nav-links li :hover {
  font-weight: bold;
  color: #046C46
}

header {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Karla', sans-serif;
}

.name-header {
  max-width: 47%;
  width: 100%;
  text-align: center;
  line-height: 34px;
  align-self: center;
}

.intro-icons {
  padding: 0;
  margin: 0;
}

.name-header .intro-icons li {
  list-style-type: none;
  display: inline-block;
}

body a {
  color: #DCB85A;
  padding: 0 7.5px 0 7.5px;
}

body a :hover {
  color: #046C46;
}

header .intro-paragraph {
  padding-top: 40px;
  padding-left: 25px;
  max-width: 70%;
  width: 100%;
  font-size: 20px;
  letter-spacing: 1.15px;
  line-height: 26px;
  font-weight: 100;
}

/* div {
  outline: dashed red;
} */

.anchor {
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -50px; /*same height as header*/
  visibility: hidden;
}

.projects, .more, footer {
  padding-top: 40px;
}

.project-1, .project-2, .project-3 {
  padding-top: 30px;
  line-height: 24px;
  letter-spacing: 1.25px;
}

.project-1, .project-3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.project-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.project-1 img, .project-2 img, .project-3 img {
  width: 45%;
  align-self: center;
}

.project-2-text {
  padding-right: 50px;
}

.project-1-text, .project-3-text {
  padding-left: 50px;
}

.project-icons {
  margin: 0;
  padding: 0; 
  padding-top: 20px;
  list-style-type: none;
}

.project-icons li {
  display: inline;
}

.languages-used {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px; 
  color: #043A33;
}

.languages-used li {
  display: inline-block;
  list-style-type: none;
  padding-left: 40px;
}

.project-description {
  padding-top: 30px;
}

.contact-links {
  text-align: center;
}

.podcasts-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px; 
}

.podcasts-list li {
  display: inline;
  padding: 15px;
  align-self: center;
}

.podcasts-list li a :hover {
  opacity: .7;
}

.podcast-list li {
  width: 45%;
}

footer h2 {
  text-align: center;
}

footer p {
  text-align: center;
  padding-top: 20px;
}

@media only screen and (max-width: 860px)  {
  header {
    display: block;
  }

  .projects {
    padding-top: 10px;
  }

  .project-1, .project-2, .project-3 {
    display: block;
    padding-top: 40px;
  }

  .project-1 img, .project-2 img, .project-3 img {
    display: flex;
    justify-content: center;
    width: 90%;
  }

  .project-1-text h3, .project-2-text h3, .project-3-text h3 {
    padding-top: 25px;
  }

  header .name-header {
    max-width: 800px;
    width: 100%;
  }

  header .intro-paragraph {
    padding-left: 0;
    width: 100%;
    max-width: 800px;
  }

  .project-1-text, .project-3-text {
    padding-left: 0;
  }

  .project-2-text {
    padding-right: 0;
  }

  .anchor {
    display: block;
    height: 125px; /*same height as header*/
    margin-top: -125px; /*same height as header*/
    visibility: hidden;
  }

  }

@media only screen and (max-width: 425px)  {
  body {
    width: 100%;
    max-width: 420px;
    padding: 0;
  }
  
  .nav-links {
    max-width: 400px;
    width: 90%;
    display: inline-block;
    text-align: center;
    margin: 0;
  }

  .name-header {
    display: none;
  }

  header {
    padding-top: 0px;
  }

  header h3 {
    line-height: 38px;
  }

  header .intro-paragraph {
    padding-top: 250px;
    padding-left: 0;
    text-align: center;
    letter-spacing: 1px;
  }

  .projects, .projects h3, .project-icons, footer {
    text-align: center;
  }

  .project-1-text h3, .project-2-text h3, .project-3-text h3 {
    padding-top: 25px;
  }

  .project-1-text, .project-3-text {
    padding-left: 0;
    text-align: left;
  }

  .project-2-text {
    padding-right: 0;
    text-align: left;
  }

  .languages-used li {
    padding-left: 0;
  }

  .anchor {
    display: block;
    height: 225px; /*same height as header*/
    margin-top: -225px; /*same height as header*/
    visibility: hidden;
  }

}