* {
    box-sizing: border-box;
  }

body {
  display: block;
  margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: inline;
  padding: 10px;
}

nav h2 {
  position: absolute;
}

.nav-links {
  list-style-type: none;
  float: right;
}

.nav-links ul li {
  display: inline;
}

header {
  padding-top: 150px;
}

div {
  outline: dashed red;
}